@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "DM Sans";
  src: url(../fonts/DMSans-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url(../fonts/DMSans-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visibly-mobile {
    display: none !important;
  }
}

:root {
  --color-light: #ffffff;
  --color-dark-blue: #118da8;
  --color-grey: #191919;
  --color-light-grey: #ffffffb2;
  --color-black: #000000;
  --border: 1px solid var(--color-dark-blue);
  --border-radius: 6px;
  --border-radius-image: 12px;
  --border-radius-large: 32px;
  --font-family-base: "DM Sans", sans-serif;
  --container-width: 1300px;
  --container-padding-x: 20px;
  --section-padding-y: 40px;
  --input-height: 82px;
  --button-height: 51px;
  --button-height-alt: 29px;
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.28;
  color: var(--color-light);
  color: var(--color-grey);
  background-color: var(--color-grey);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: var(--color-light);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 18px;
  font-size: 17px;
  color: var(--color-light);
  background-color: var(--color-dark-blue);
  border: var(--border);
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-light);
    color: var(--color-dark-blue);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-light);
    color: var(--color-dark-blue);
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-dark-blue);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-dark-blue);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%, -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-light);
  border-radius: 5px;
  box-shadow: 0 -8px var(--color-light), 0 8px var(--color-light);
  left: 25%;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-dark-blue);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-dark-blue);
  }
}
.cross-button::after, .cross-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-light);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  background-color: var(--color-grey);
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  padding: 14px 20px;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

section {
  padding-block: var(--section-padding-y);
}
@media (max-width: 1023px) {
  section {
    padding-top: 0;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  row-gap: var(--section-padding-y);
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  color: var(--color-light);
}
@media (max-width: 767px) {
  .hero {
    flex-direction: column;
    row-gap: 30px;
  }
}
.hero__body {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}
@media (max-width: 767px) {
  .hero__body {
    row-gap: 30px;
  }
}
.hero__apps {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 240px;
}
.hero__title {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.hero__title--text {
  font-family: "DM Sans";
  font-size: 60px;
  font-weight: 400;
  max-width: 506px;
}
@media (max-width: 1023px) {
  .hero__title--text {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .hero__title--text {
    font-size: 40px;
  }
}
.hero__title--line {
  position: absolute;
  bottom: 0;
}
.hero__title--special {
  position: relative;
}
@media (max-width: 1023px) {
  .hero__title--special {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .hero__title--special {
    font-size: 40px;
  }
}
.hero__title--under {
  font-weight: 400;
  font-size: 60px;
}
@media (max-width: 1023px) {
  .hero__title--under {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .hero__title--under {
    font-size: 40px;
  }
}
.hero__title--bold {
  font-weight: 700;
  font-size: 60px;
}
@media (max-width: 1023px) {
  .hero__title--bold {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .hero__title--bold {
    font-size: 40px;
  }
}
.hero__description {
  height: 24px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  width: 230px;
}
.hero__image {
  position: relative;
}
@media (max-width: 1023px) {
  .hero__image {
    max-height: 60%;
    max-width: 100%;
  }
}
.hero__image--line {
  position: absolute;
  top: -30px;
  left: -20px;
}
@media (max-width: 1023px) {
  .hero__image--line {
    width: 16%;
    height: 12%;
  }
}

.header {
  padding-block: 26px;
}
@media (max-width: 1023px) {
  .header {
    padding-top: 18px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 14px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 144px;
  }
}
.header__menu {
  margin-left: auto;
  font-size: 17px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 48px;
}
.header__menu-link:hover {
  color: var(--color-dark-blue);
}

.tips {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  padding-inline: 16px;
  font-size: 18px;
  color: var(--color-light);
  background-color: var(--color-grey);
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius);
  font-weight: 400;
}

.episodes__list:not(:last-child) {
  margin-bottom: 160px;
}

.section__title {
  color: var(--color-light);
  font-size: 64px;
  line-height: 79px;
  font-weight: 400;
}
.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__header:not(:last-child) {
  margin-bottom: 66px;
}

.episodes-card {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
  min-height: 512px;
  padding: 40px;
  margin-bottom: 60px;
  background-color: var(--color-black);
  border: 1px solid black;
  border-radius: 32px;
}
.episodes-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.episodes-card__number {
  color: var(--color-dark-blue);
}
.episodes-card__title {
  color: var(--color-light);
  font-size: 64px;
  line-height: 70px;
  font-weight: 400;
}
.episodes-card__description {
  color: var(--color-light-grey);
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}/*# sourceMappingURL=styles.css.map */