.episodes {
    &__list {
        &:not(:last-child) {
            margin-bottom: 160px;
        }
    }
}

.section {
  &__title {
    @include tablet {
      font-size: 48px;
    }

    @include mobile {
      font-size: 36px;
    }

    color: var(--color-light);
    font-size: 64px;
    line-height: 79px;
    font-weight: 400;
  }

  &__header {
    @include mobile {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 66px;
    }
  }
}
