.footer {
  &__inner {
    display: flex;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__networks {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__header {
    margin-right: 240px;

    @include desktop {
      margin-right: 120px;
    }

    @include tablet {
      margin-right: 0;
    }

    @include mobile {
      margin-right: 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    column-gap: 24px;

    @include mobile {
      justify-content: center;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    width: 200px;

    @include tablet {
      width: auto;
      padding-inline: 48px;
    }

    @include mobile {
      width: auto;
      padding-right: 24px;
    }
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__menu-link {
    color: var(--color-light-grey);
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
  }

  &__extra {
    display: flex;
    flex-direction: column;
    width: 190px;

    @include tablet {
      padding-inline: 48px;
    }

    @include mobile {
      width: auto;
      padding-inline: 0;
    }
  }

  &__text-mobile {
    display: flex;

    @include mobile {
      margin-block: 24px;
    }
  }

  &__apps {
    display: flex;
    flex-direction: row;
    column-gap: 16px;

    @include tablet {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }

    @include mobile {
      display: flex;
      flex-direction: row;
      margin-block: 24px;
    }
  }
}
